# Auto detect text files and perform LF normalization
* text=auto
motoman_motomini_support filter=lfs diff=lfs merge=lfs -text
motoman_ms210_support filter=lfs diff=lfs merge=lfs -text
motoman_sia20d_moveit_config filter=lfs diff=lfs merge=lfs -text
motoman_sia50_support filter=lfs diff=lfs merge=lfs -text
OLDREADME.md filter=lfs diff=lfs merge=lfs -text
CONTRIBUTING.md filter=lfs diff=lfs merge=lfs -text
motoman_gp200r_support filter=lfs diff=lfs merge=lfs -text
motoman_ma2010_moveit_config filter=lfs diff=lfs merge=lfs -text
motoman_mh110_support filter=lfs diff=lfs merge=lfs -text
motoman_sda10f_support filter=lfs diff=lfs merge=lfs -text
motoman_sia10f_support filter=lfs diff=lfs merge=lfs -text
motoman_ar2010_support filter=lfs diff=lfs merge=lfs -text
motoman_gp12_support filter=lfs diff=lfs merge=lfs -text
motoman_gp8_support filter=lfs diff=lfs merge=lfs -text
motoman_ms210_moveit_config filter=lfs diff=lfs merge=lfs -text
motoman_sda10f_moveit_config filter=lfs diff=lfs merge=lfs -text
motoman_sia10d_support filter=lfs diff=lfs merge=lfs -text
motoman_sia30d_support filter=lfs diff=lfs merge=lfs -text
motoman_gp110_support filter=lfs diff=lfs merge=lfs -text
motoman_gp88_support filter=lfs diff=lfs merge=lfs -text
motoman_mh50_support filter=lfs diff=lfs merge=lfs -text
motoman_mh12_support filter=lfs diff=lfs merge=lfs -text
motoman_mh5_support filter=lfs diff=lfs merge=lfs -text
motoman_msgs filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
motoman_driver filter=lfs diff=lfs merge=lfs -text
motoman_gp25_support filter=lfs diff=lfs merge=lfs -text
motoman_hc20_support filter=lfs diff=lfs merge=lfs -text
motoman_hc10_support filter=lfs diff=lfs merge=lfs -text
motoman_motopos_d500_support filter=lfs diff=lfs merge=lfs -text
motoman_sia20d_support filter=lfs diff=lfs merge=lfs -text
motoman_sia5d_support filter=lfs diff=lfs merge=lfs -text
motoman filter=lfs diff=lfs merge=lfs -text
motoman_es_support filter=lfs diff=lfs merge=lfs -text
motoman_gp7_support filter=lfs diff=lfs merge=lfs -text
motoman_gp180_support filter=lfs diff=lfs merge=lfs -text
motoman_gp4_support filter=lfs diff=lfs merge=lfs -text
motoman_resources filter=lfs diff=lfs merge=lfs -text
motoman_gp50_support filter=lfs diff=lfs merge=lfs -text
motoman_ma2010_support filter=lfs diff=lfs merge=lfs -text
